<!doctype html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>A* Search</title>
	<%= javascript_include_tag 'aStar.js' %>
</head>
<body>
	<div style='position: absolute; top: 50px; left: 50px;'>
	<canvas id ='myCanvas' width='800' height='800'>
		Your Browser does not support the canvas.
	</canvas>
</body>
</html>