<% provide(:title, 'About the Site') %>


   <div class="non_h_title">About the Site</div>
   



<div class="hero-unit">
<p>
	The purpose of making this site is to both share my thoughts and the projects that I am working on.  One of the most powerful aspects of learning computer science on your own is the ability to show display what you are capable of.  I will show my progress and sometimes just share my viewpoint on different topics.  I hope you enjoy it! 
</p>
 </div>
