<% provide(:title, 'About Me') %>
  
<div class="non_h_title">About Me</div>
   
<div class="hero-unit">
  <p>
	    My name is Jacob Dean and I graduated from Cornell in 2011 with all of the pre-med prerequsettes completed and an economics degree in hand.  I started working at Hedgeye Risk Management a little over a year ago and my time there was amazing.  However, I found that I was not solving the kind of problems I wanted to solve so I left to teach myself how to program.  I have known my whole life that I want to make a difference in this world and I used to think the way I might do that would be though primary care as a physician or dentist.  These days the way I can imagine myself contributing is with the help of software because I know when I solve a problem the computer will allow me to scale it out to the world.  I didn't go to school for computer science, however I did go to school to learn how to both think critically and teach myself anything.  I can't emphasize enough the importance of free materials on the internet like MIT Open Courseware and free e-books, these resources have made it possible for me to learn CS on my own.   
  </p>
 </div>

  

