<% provide(:title, 'About Me') %>
 
 
   <div class="non_h_title">About Me</div>
   



<div class="hero-unit">
<p>
	My name is Jacob Dean and I graduated from Cornell in 2011 with all of the pre-med prerequsettes and an economics degree.  I applied to dental school and after getting some wise advice from a few dental school graduates I was working with at Yale I decided against going.  Then i had a little time to think about what might interest me, and I remembered how interesting the stock market can be.  What drives these enormous fluctuations in stock prices from day to day and how does one short sell a stock anyways?  
    </p>

    <p>
      I started working at Hedgeye Risk Management about a year ago and my time has been amazing.  When you are put in a fast paced environemt you are forced to sink or swim right away.  However, I have come back to the same thought I have had my entire life while choosing a career path, which is I want to help people.  The first thing I used to think of was becoming a doctor or a dentist, but these days I think about helping people all over the world with the Internet.  It is the best tool to reach people and provide them with a solution to make their lives easier.  I didn't go to school for computer science however I did go to school to learn how to teach myself anything.  I took an autotutorial physics class my senior year and it was amazing how well a could learn a complex novel topic on my own.  I was equiped with a book, online videos and practice problems.  I find myslef in a similar situation while attempting to learn web development.  
    </p>

    <p>
     Another thought I have had since I started learning web development is how closely the thought process is in Ruby and Rails to Organic Chemistry.  In both situations you have a set of rules to learn, which can be annoying at first as you look at the book for any reaction/method you want to write.  As you pick up the basic rules it becomes about how to get from point A to point B without violating any rules.  In chemistry as in programming there are short and long ways to most problems and it is up to you to find the most effective solution to each problem.  I ahve put in a great deal of work to get past the learning curve and I am finding this kind of thinking fascinating.
    </p>
 </div>

  

