<% provide(:title, 'About the Site') %>

<div class="non_h_title">About the Site</div>
   
<div class="hero-unit">
  <p>
	The purpose of this site is to both share my thoughts and projects that I am working on.  One of the most powerful aspects of learning computer science on your own is the ability to display your work.  I have a few posts up here and most of my projects, for the rest of my stuff please check out my github.  I hope you enjoy it! 
  </p>
</div>
