<!doctype html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>Connect Four</title>
	<%= javascript_include_tag 'connectFour.js' %>
</head>
<body>
	<div style='position: absolute; top: 50px; left: 50px;'>
	<canvas id ='myCanvas' width='750' height='650'>
		Your Browser does not support the canvas.
	</canvas>
</body>
</html>