<% provide(:title, 'My Thoughts') %>

<div class="non_h_title">My Thoughts</div>

<div class="hero-unit">
  <h1>Next Big Projects</h1>
  <p>
     I have hit a point where it becomes a bit difficult to keep thinking up projects to make that will expand my knowledge base.  I have made cool little games and interesting AI projects, but in a sense they are all things that have no real value in and of themselves.  They are learning tools, but I want to start building software that has the potential to change the world.  The areas I have found most interesting in computer science have been AI, robotics and machine learning.  I want to make robots that can shop for my food based on my preferences, other robots that can do my yard work or maybe even Yale University’s yard work.     
</p>


<p>
  I worked at the Yale golf course for three summers and during that time I saw the perfect situation for a fleet of ultra smart robots.  Our crew had to start every morning by loading our tee mowers onto the carts and work through the course before all of the golfers began to play.  We then usually went to some other repetitive task like filling divot marks on tees or weed-wacking around stairs.  The amount of time we wasted waiting for golfers to hit their shots cost the course huge sums of money.  I always tried to think of a better way and when I started investigating AI I had my answer.  The fleet I am imagining would work at night so they never had to wait for golfers and maybe the course could be mapped and the machines could operate by gps, although it would be cool if the machines had enough self awareness to know where obstacles were at all times based on sensor readings.  Every tee and green would be mowed to perfection and nobody would ever see the crew… a golfers dream.  
</p>

<p>
  I thought about buying an iRobot Create to get myself started, but if I really want to know the inner workings of the software, hardware and the connection between the two I think I will build something from the ground up.  Step one is just building a robot that can navigate a “road” outlined in tape in my apartment, then the super golf robot fleet comes next.  Stay tuned.      
</p>

 </div>

<div class="hero-unit">
  <h1>Computer Science Resources</h1>
  <p>
     I have to say I have been so grateful to have access to great FREE learning materials as I learn more and more computer science.  I have done quite a bit of work on the student loan bubble and freeing materials for people to develop valuable skills could be the beginnings of a sane educational system for our country.  I started this journey with codecademy.com some time ago, and that was a great way to get my feet wet.  People give codecademy a tough time in the blogosphere because they say when people have to move to a real programming environment they will not be able to make the jump.  I would counter that with the argument that anything that lowers the barrier to getting people excited about computer science is a victory.  There are 120,000 computer programming jobs created every year and only 40,000 graduates with CS degrees, anything to help that ratio even out is a plus.   
</p>


<p>
	Sites like Udacity and Coursera are incredible despite Cornell’s inexplicable absence from Coursera!  My one criticism about Coursera is that they do not keep the materials on the site once the class is finished, I guess it would be nice to release that to the world so anybody could have access to the lectures.  
</p>

<p>
  People often tell me they started programming a bit but got stuck and quit because there was no instructor to help them out.  The same thing would have happened to me if I did not rely on stack overflow.  The most important skill for the beginner programmer I think is the ability to effectively find answers to errors on stack overflow.  It is just and incredible wealth of knowledge, I don’t think there has been an error I have had that someone else did not report on the site… amazing hah.
</p>


<p>
  I was also taken back by the amount of free e-books that are online.  People actually take the time to write a book they are going to release for free, that is amazing.  People in the software community actually care about spreading knowledge and that is how I know it is the right place for me.  If someone has enough discipline to teach themselves, I think he or she can get a great base for a start in programming for free on the internet.  Professional experience will supplement this education of course, but no company is going to pay you to get started, that is your job.    
</p>

 </div>

<div class="hero-unit">
  <h1>The Jump</h1>
  <p>
     When I told people I was going to learn how to code and hopefully start a career with some kind of software development their responses to me were all but encouraging. I heard things like, “You need to get a degree in computer science to start any sort of career like that” or “How can you expect to show an employer you have learned enough?” So I started learning the basics of programming with JavaScript, Ruby and Python and it dawned on me that my medley of economics classes and pre-med classes were perfect preparation for computer science. The aspects that drew from economics were all of the constraints placed on the code to make it act exactly as I wanted and the aspects that drew from my pre-med preparation came specifically from the dreaded organic chemistry class I took my junior year at Cornell. 
</p>


<p>
     Organic chemistry is defined by a set of guidelines and once you master them you can create almost anything. The beauty of organic chemistry lies in the synthesis process, or the ability to convert one chemical compound to another through a series of steps. When most students jump into these synthesis problems for the first time they are creating bulky solutions often with many more steps than necessary. As students go on they begin creating elegant solutions whether it be the shortest ones or ones that have a desired intermediate step. Getting from compound A to compound B is a puzzle, and it plays out in your head before it ends up on paper. From what I can tell thus far coding is much the same. You know where you want to end up and there are an infinite amount of ways to get there, some obviously more elegant than others. So when I was setting up constraints for economics problems and working through organic chemistry problems I was really preparing myself to understand the infinitely applicable problem solving thought process. The specific rules are different in coding, but once you get past those you move to the familiar problem solving thought process that I have been practicing for years in my studies at Cornell.


  </p>
 </div>





