<!doctype html>
<html>
<head>
	<title>NodeTron</title>
	<%= javascript_include_tag 'tron.js' %>
</head>
<body>
  <div style='position: absolute; top: 100px; left: 100px;'>
	<canvas id ='myCanvas' width='800' height='600'>
		Your Browser does not support the canvas.
	</canvas>
</body>
</html>