<footer>
   	<div class="copyright"><p>&copy; TheUniversalCatalyst 2013</p></div>
   	<div class="footer_links">
      <%= link_to image_tag("LinkedIn_logo.png", :size => "45x50", alt: "My LinkedIn"), 'http://www.linkedin.com/profile/view?id=165661829&trk=hb_tab_pro_top' %>
      <%= link_to image_tag("github-logo-transparent.png", :size => "60x60", alt: "My Github"), 'https://github.com/jakedean' %>
      <%= link_to image_tag("twitter-bird.png", :size => "75x75", alt: "My Github"), 'https://twitter.com/jakethesnake553' %>
  </div>
  </footer> 